# Python
backend/venv/
__pycache__/
*.py[cod]      <-- (Optional) Blocks compiled python variants
*.db           <-- (NEW) Blocks SQLite database files like 'test.db'
.env           <-- (CRITICAL) Blocks your secrets/passwords

# React / Node
node_modules/
dist/
.DS_Store      <-- (Optional) Blocks annoying Mac system files